* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: rgb(255, 255, 255);
    --box-shedow: rgb(65, 65, 65);

}

body {
    background-color: var(--violet);
    background-image: url(images/bg-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 2.5rem 3rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-size: 2rem;
    width: 25rem;
}

p {
    font-family: sans-serif;
    color: var(--white);
    line-height: .7cm;
}


.logo {
    height: 2.8rem;
}

.main-content {
    padding: 2.5rem 0;
    display: flex;
    column-gap: 2.5rem;
}

.text-content {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.button {
    width: 9.3rem;
    padding: 1rem;
    border-radius: 1.5rem;
    border: none;
    color: var(--violet);
    box-shadow: 0rem 0rem 0.6rem var(--box-shedow);
}

.button:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--soft-magenta);
    transition: linear .3s;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
}

.nav {
    display: flex;
}


.icon {
    font-size: 1.1rem;
    color: var(--white);
    padding: .6rem .8rem;
    border-radius: 50%;
}

.icon:hover {
    color: var(--soft-magenta);
    transition: linear .3s;
}

.icons {
    width: 2.1rem;
    height: 2.1rem;
    margin: 0 0.6rem;
    border: .125rem solid var(--white);
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.icons:hover {
    border-color: var(--soft-magenta);
    color: var(--soft-magenta);
    transition: linear .3s;
}

@media only screen and (max-width: 375px) {
    body {
        background-image: url(/images/bg-mobile.svg);
        background-position: top;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .img {
        width: 16.3rem;
        height: 12.5rem;
    }

    .text-content {
        width: 16.3rem;
        text-align: center;
        align-items: center;
    }

    .text-content h1 {
        width: 16.3rem;
        font-size: 1.5rem;
    }

    .button {
        text-align: center;
    }

    .footer {
        justify-content: center;
    }


}